/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
}

h1 {
	font-size: 52px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 18px;
}


h1,
h2,
h3 {
	font-family: "playfair display", serif;
	font-weight: bold;
}

p {
	font-family: "Lora", serif;
}
.hlavicka {
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1100px;
	
}

.logo {
	width: 170px;
	height: auto;
}
.menu ul {
	margin: 0;
	padding: 0;
	display: flex;
	text-decoration: none;
	list-style: none;
	line-height: 1;
	}
.menu a {
	display: block;
	padding: 10px 15px;
	color: #242424;
	text-decoration: none;
	border-radius: 30px;
}

.menu li {
	margin-left: 5px;
}

.menu a:hover {
	background-color: #f195b2;
	color: white;
}
.hero {
	background-image: url(images/cupcake.jpg) ;
	background-size:cover;
	padding: 80px;
	

}
.hero-text {
	font-size: 24px;
	font-style: italic;
	color: #F0F0F0;
	margin-bottom: 0;
	margin-right: 40%;
}
h1 {
	font-size: 52px;
	color: #F0F0F0;
}
p {
	font-size: 18px;
	font-style:italic;
}
h2 {
	font-size: 36px;
}
.obsah-sekce {
	max-width: 1100px;
	margin: 0 auto;
	padding: 80px 0;
	
}

.dva-sloupce {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sloupec {
	flex: 0 0 calc((100% - 30px) / 2);
}


.sekce-seda {
	background-color: #F0F0F0;
}

.nabidka {
	display: flex;
	justify-content: space-between;
}
.nadpis-sekce {
	color: #3e606b;
}
.produkt {
	flex: 0 0 calc((100% - 90px) / 4);
	background-color: white;
	border-radius: 5px;
}
.produkt-obsah {
	padding: 20px;
}
.produkt img {
	width: 100%;
	height: auto;
	border-radius: 5px 5px 0 0;
}
.produkt p {
	font-size: 15px;
}
.tlacitka {
	margin-top: 30px;
}
.tlacitko {
	display: inline-block;
	padding: 15px 40px;
	text-decoration: none;
	border-radius: 30px;
	background-color: #f195b2;
	color: white;
}
.foto {
	width: 100%;
	border-radius: 5px;
}

.paticka {
	padding: 30px 0;
	background-color: #303339;
	color: white;
	text-align: center;
}